*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
}

h2{
    color: white;
    margin-bottom: 30px;
    font-family: cursive;
    padding: 2px;
    border-radius: 100px;
    border: 5px groove blue;
    width: 100%;

}

#board {
  background-color: black;
   border: 10px groove red;
   padding: 10px;
   border-radius: 30px;
   transition: 0.6s ease;
   width: 100%;
 
}

#board:hover{
    box-shadow: 0 0 30px red, inset 0 0 20px red;
}

